

<div class="barra-pesquisa {{ contexto }}">
  <form action="{{ url_for('pesquisa.pesquisa_dinamica') }}" method="GET">
    
  <div class= "input-container">
    <input type="search" name="item" id="busca-input" placeholder="Buscar...">
    <div id="resultado-busca"></div>
    <button type="button" class="btn-lupa">
      <i class="ri-search-line"></i>
    </button>
    <button type="button" class="btn-filtro">
      <i class="ri-equalizer-line"></i>
    </button>
    {% include 'components/_painel_filtros.html' %}
  </div>
  </form>
</div>