<form
  class="barra-pesquisa barra-pesquisa--header"
  action="{{ url_for('pesquisa.pesquisa') }}"
  method="GET"
>

  <div class="barra-pesquisa__grupo">

    <input
      type="search"
      name="item"
      id="busca-input"
      placeholder="Buscar..."
      required
    >

    <button
      type="submit"
      class="btn-lupa"
    >
      <i class="ri-search-line"></i>
    </button>

    <button
      type="button"
      class="btn-filtro"
    >
      <i class="ri-equalizer-line"></i>
    </button>

    <!-- AUTOCOMPLETE -->
    <div id="autocomplete-lista"></div>

  </div>

  {% include 'components/_painel_filtros.html' %}

</form>