{% if pedidos %}
  {% for pedido in pedidos %}
  
    <div class="card-pedido-cliente">
      <h3>Pedido #{{ pedido.id }}</h3>
      <p class="status status-{{ pedido.status|lower|replace(' ', '-') }}">
        {{ pedido.status }}
      </p>

      <p class="valor">
        {{ pedido.total | moeda }}
      </p>
      <small class="data-pedido">
        {{ pedido.data_pedido | data }}
      </small>

      <a
        href="{{ url_for(
          'usuario.consultar_pedido',
          id=pedido.id
        ) }}"
      >
        Ver detalhes
      </a>

</div>
    
  {% endfor %}
{% else %}
  <p>Você ainda não fez pedidos</p>
{% endif %}