<div class="perfil">
  {% if current_user.is_authenticated %}

    <button id="btn-perfil">
      {% if current_user.foto_perfil %}
        <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_PERFIL/' ~ current_user.foto_perfil) }}" id="imagem-perfil">
      {% else %}
        <i class="ri-user-line icone-perfil"></i>
      {% endif %}
    </button>

    <div id="menu-dropdown" class="escondido">

      {% if current_user.foto_perfil %}  
        <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_PERFIL/' ~ current_user.foto_perfil)}}" class="foto-perfil" id="foto-interna">  
      {% else %}  
        <i class="ri-user-line icone-perfil"></i>  
      {% endif %}  

      <div class="usuario-info">
        <p><strong>Olá, {{ current_user.nome }}</strong></p>
      </div>

      <ul class="conteudo-dropdown">

        {% if current_user.is_admin %}
          <li>
            <a href="{{ url_for('admin.dashboard') }}">Admin</a>
          </li>
          <li>
            <a href="#">Gerenciar Estoque</a>
          </li>
          <li>
            <a href="{{url_for('usuario.sair')}}"> Sair</a>
          </li>
        {% else %}
          <li>
            <a href="{{ url_for('usuario.perfil') }}"> Você </a>
          </li>
          
          <li>
            <a href="{{url_for('usuario.exibir_cupons')}}"> Meus cupons</a>
          </li>
          
          <li>
            <button id="btn-ver-carrinho">Ver Carrinho</button>
          </li>
          
          <li>
            <a href="{{url_for('principal.ajuda')}}"> Ajuda </a>
          </li>
          <li>
            <a href="{{url_for('usuario.sair')}}"> Sair</a>
          </li>
          
        {% endif %}

      </ul>

    </div>

  {% else %}

    <a href="{{ url_for('auth.entrar') }}" id="btn-perfil">
      <i class="ri-user-add-line icone-perfil"></i>
    </a>

  {% endif %}
</div>