<div id="painel-colunas" class="escondido">
  
  <h3>Mostrar colunas</h3>

  <button class="toggle" data-coluna="id">
    <i class="ri-eye-line"></i>
    Id
  </button>

  <button class="toggle" data-coluna="foto">
    <i class="ri-eye-line"></i>
    Foto
  </button>

  <button class="toggle" data-coluna="nome">
    <i class="ri-eye-line"></i>
    Nome
  </button>

  <button class="toggle" data-coluna="email">
    <i class="ri-eye-line"></i>
    Email
  </button>

  <button class="toggle" data-coluna="data">
    <i class="ri-eye-line"></i>
    Data de registro
  </button>

</div>