<div id="overlay" class="escondido"></div>

<div id="painel-filtros" class="escondido">
  <h3>Filtros</h3>
  
  <div class="filtro-grupo">
    <label>Preço</label>
    
    <input type="number" name="preco_min" placeholder="De">
    <input type="number" name="preco_max" placeholder="Até">
  </div>

  <div class="filtro-grupo">
    <label>Categoria</label>
    
    <select name="categoria">
      <option value="">Todas</option>
      <option value="brinco">Brincos</option>
      <option value="colar">Colares</option>
    </select>
  </div>
  
  <button type="submit" class="btn-aplicar">
  Aplicar filtros
</button>
  
</div>