# Python padrão
__pycache__/
*.py[codz]
*$py.class

# Ambiente virtual
venv/
.venv/
env/

# Variáveis sensíveis
.env

# Flask
instance/
.webassets-cache

# Banco (opcional)
db.sqlite3

# Logs
*.log

# VSCode (opcional)
.vscode/

# Imagens (SE quiser ignorar uploads)
# app/static/imagens/