# Python padrão
__pycache__/
*.py[codz]
*$py.class

__pycache__/
*.pyc

# Ambiente virtual
venv/
.venv/
env/

# Variáveis sensíveis
.env

# Flask
instance/
.webassets-cache

# Banco (opcional)
db.sqlite3

# Logs
*.log

# VSCode (opcional)
.vscode/

# Imagens (SE quiser ignorar uploads)

app/static/imagens/UPLOADS_FOTOS_BIJOUX/
upgrade_log.txt

# app/static/imagens/__pycache__/
__pycache__/
*.pyc

app/static/imagens/UPLOADS_FOTOS_BIJOUX/
upgrade_log.txt