.perfil {
  position: relative;
  display: flex;
  padding-bottom: 20px;
}

#btn-perfil {
  background: none;
  border: none;
}

#imagem-perfil {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

#foto-interna {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

#menu-dropdown {
  position: absolute;
  top: 110%;
  right: 0;

  width: 220px;
  background: white;
  border-radius: 10px;
  padding: 10px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  z-index: 999;
}

.escondido {
  display: none;
}

.conteudo-dropdown {
  list-style-type: none;
}
.conteudo-dropdown li {
  border: 1px dotted black;
}

.usuario-info , .conteudo-dropdown {
  text-align: center;
}

#ver-carrinho {
  background: none;
}
