.header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  width: 100%;
}

/* esquerda */
.header-left {
  flex: 1;
}

/* centro */
.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

/* direita */
.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header a {
  color: black;
  text-decoration: none;
}