header {
  width: 100%;
}

.pagina-produto {
  display: flex;
  gap: 20px;
  padding: 20px;

  align-items: flex-start; /* 🔥 importante */
}
.produto-imagem {
  position: relative;
  flex: 1;
  max-width: 400px;
}

.produto-imagem img {
  width: 100%;
  height: auto;
  display: block;
}

.produto-info {
  flex: 1;
  max-width: 400px;
}

#ant, #prox {
  position: absolute;
  top: 10px;

  background: rgba(255,255,255,0.7);
  border: none;
}

#ant {
  left: 10px;
}

#prox {
  right: 10px;
}

.escondido {
  display: none;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.desativado {
  opacity: 0.3;
  cursor: not-allowed;
}

#foto {
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .pagina-produto {
    flex-direction: column;
    align-items: center;
  }

  .produto-info {
    text-align: center;
  }
}