#user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opcoes-perfil {
  width: 100%;
  margin-top: 20px;
}

/* LISTA */
#opcoes-perfil ul {
  display: flex;
  justify-content: center; /* 👈 centraliza bonito */
  gap: 20px;

  padding: 0;
  margin: 0;

  border-bottom: 1px solid #eee; /* 👈 linha sutil */
}

/* ITENS */
#opcoes-perfil li {
  list-style: none;
}

/* BOTÕES */
#opcoes-perfil button {
  background: none;
  border: none;
  padding: 10px 8px;

  font-size: 14px;
  color: #666;

  cursor: pointer;

  position: relative;
}

/* HOVER SUAVE */
#opcoes-perfil button:hover {
  color: black;
}

/* 🔥 ATIVO (O MAIS IMPORTANTE) */
#opcoes-perfil button.ativo {
  color: black;
  font-weight: 600;
}

/* LINHA DO ATIVO */
#opcoes-perfil button.ativo::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -1px;

  width: 100%;
  height: 2px;

  background: black;
}

.form-endereco {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 320px;
  margin: 60px auto;
  padding: 24px;

  background: #fff;
  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-endereco input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;

  font-size: 14px;
}

.form-endereco input:focus {
  outline: none;
  border-color: #000;
}

.form-endereco button[type="submit"] {
  padding: 12px;
  border-radius: 8px;
  border: none;

  background: black;
  color: white;
  font-weight: bold;
}