* {
  margin: 5px;
  padding: 5px;
}

h2 {
  display: flex;
  position: relative;
  left: 330px;
  text-align: center;
}

#lista-colecoes { /* Use o ponto '.' para classe */
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  text-decoration: none;
}
