{% extends "Admin/base_admin.html" %}

{% block titulo %}
Editar acessoório | Kordonê Bijoux
{% endblock %}
{% block admin_content %}
  
  
  <div class="dados-produto">
    
      
    <form method="POST" id="form-editar" action="{{ url_for('novo_produto.editar', id=item.id_acessorio) }}">
    <div class="imagens-produto">
      <div class="descricao">
        <label> Fotos:</label>
        <small> Substitua ou adicione novas imagens </small>
      </div>
      <div class="lista-imagens">
        {% for img in item.imagens %}
          <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_BIJOUX/' ~ img.url) }}">
        {% endfor %}
        <button type="button" id="btn-input-foto">
          <i class="ri-add-circle-fill"></i>
          <input type="file" multiple hidden id="fotos">
        </button>
      </div>

    </div>
      <label> Nome:</label>
      <input type="text" name="nome" value="{{ item.nome }}" id="nome-bijoux">
      <label> Coleção: </label>
      <select name="colecao" id="colecao">
        <option value=""
          {% if item.colecao_id is none %}selected{% endif %}>
          Sem coleção
        </option>
  
        {% for c in colecoes %}
          <option
            value="{{ c.id_colecao }}"
            {% if c.id_colecao == item.colecao_id %}selected{% endif %}>
            {{ c.nome_colecao }}
          </option>
        {% endfor %}
      
      </select>
      <label> Preço: </label>
      <input type="number" name="preco" value="{{ item.preco }}" id="preco">
      <label>Tamanho: </label>
      <input type="text" name="tamanho" value="{{ item.tamanho }}" id="tamanho">
      <label> Material: </label>
      <input type="text" name="material" value="{{ item.material }}" id="material">
    
      <button type="submit" id="atualizar-btn">Salvar</button>
    </form>
  </div>
  
{% endblock %}

{% block scripts %}

<script src="{{url_for('static' , filename='Js/Pages/editar_produto.js')}}"></script>

{% endblock %}