{% extends "Admin/base_admin.html" %}

{% block titulo %}
  Gerenciar Estoque | Kordonê Bijoux
{% endblock %}

{% block conteudo %}
    <div id="conteudo-filtro">
      <button type="button" id="btn-overlay">
        Filtrar
      </button>
  
      <button type="button" id="btn-colunas">
        Colunas
      </button>
    </div>
    
    <div id="overlay" class="escondido"></div>
    {% include "components/_filtro_admin.html"%}
    {% include "components/_painel_colunas.html"%}
    
    <div class="tabela-admin-wrapper">
      <table id="dados-clientes">
        <thead>
          <tr>
            <th data-coluna="id">
              Id
            </th>
            <th data-coluna="foto">
              Foto de Perfil
            </th>
            <th data-coluna="nome">
              Nome
            </th>
            <th data-coluna="email">
              Email
            </th>
            <th data-coluna="data">
              Data de registro
            </th>
            <th id="coluna-filtro">
              <!-- Inserir dados via javascript -->
            </th>
          </tr>
        </thead>
        <tbody>
          {% for user in clientes %}
          <tr>
            <td data-coluna="id">{{ user.id_usuaria }}</td>
          <td data-coluna="foto">
            {% if user.foto_perfil %}
              <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_PERFIL/' ~ user.foto_perfil) }}"
               class="imagem-perfil">
            {% else %}
              <i class="ri-user-line"></i>
            {% endif %}
          </td>
          <td data-coluna="nome">
            {{ user.nome }}
          </td>
          <td data-coluna="email">
            {{ user.email }}
          </td>
          <td data-coluna="data" >
            {% if user.data_registro %}
              {{ user.data_registro| data}}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            <!-- Inserir dados via Js-->
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
{% endblock %}

{% block scripts%}
  <script src="{{url_for('static' , filename='Js/users.js')}}"></script>
{% endblock %}