{% extends "base.html" %}

{% block titulo %}
  Gerenciar Estoque | Kordonê Bijoux
{% endblock %}

{% block conteudo %}
    <div id="conteudo-filtro">
      <button type="button" id="btn-overlay"> Filtrar</button>
      <p>
        Filtro selecionado:
        <span></span>
      </p>
    </div>
    <div id="overlay" class="escondido"></div>
    {% include "components/_filtro_admin.html"%}
    <div class="tabela-admin-wrapper">
      <table id="dados-clientes">
        <thead>
          <tr>
            <th> Id </th>
            <th> Foto de Perfil </th>
            <th> Nome </th>
            <th> Email</th>
            <th> Data de registro</th>
          </tr>
        </thead>
        <tbody>
          {% for user in clientes %}
          <tr>
            <td>{{ user.id_usuaria }}</td>
          <td>
            {% if user.foto_perfil %}
              <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_PERFIL/' ~ user.foto_perfil) }}"
               class="imagem-perfil">
            {% else %}
              <i class="ri-user-line"></i>
            {% endif %}
          </td>
          <td>
            {{ user.nome }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {% if user.data_registro %}
              {{ user.data_registro| data}}
            {% else %}
              -
            {% endif %}
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
{% endblock %}

{% block scripts%}
  <script src="{{url_for('static' , filename='Js/users.js')}}"></script>
{% endblock %}