{% extends "base.html" %}

{% block titulo %}
Ajuda | Kordonê Bijoux
{% endblock %}

{% block header %}
  {% include 'components/_header_interno.html' %}
{% endblock %}

{% block conteudo %}
<div id="area-ajuda">

  <div class="introducao">
    {% if not current_user.chamados %}
      <p>Você ainda não tem solicitações</p>

      <button type="button" id="nova-chamada">
        Nova solicitação de ajuda
      </button>
    {% else %}
      {% for chamado in chamados %}
        <div class="card-chamado">
          <h2> {{chamado.titulo}}</h2>
          <p> Atendente: {{chamado.atendente}}</p>
          <p>
            <strong>Status:</strong>
            <span class="status {{ chamado.status }}">
    {{ chamado.status }}
  </span>
          </p>
          <a href="{{ url_for('principal.abrir_chamado', chamado_id=chamado.id_chamado) }}">
            Abrir conversa
          </a>
        </div>
      {% endfor %}
    {% endif %}
    {% if not mensagens %}
    <button type="button" id="nova-chamada">
      Nova solicitação de ajuda
    </button>
    {% endif %}
  </div>

  <div id="chat-container">
    
    <div id="chat-box">

  {% if mensagens %}

    {% for msg in mensagens %}

      {% include 'components/_card_mensagem.html' %}

    {% endfor %}

  {% endif %}

    </div>

    <form id="form-chat" class="{% if not mensagens %}escondido{% endif %}">

      <div id="input-area">
        <input
          type="text"
          id="input-chat"
          placeholder="Digite sua mensagem..."
        />

        <button type="submit">
          <i class="ri-send-plane-line"></i>
        </button>
      </div>

    </form>

  </div>

</div>
{% endblock %}

{% block scripts %}
  {% if not mensagens %}
  <script>
    const saudacaoInicial = {{ saudacao|tojson }};
  </script>
  {% else %}
  <script>
    const nomeAtendente = {{ atendente|tojson }};
    const nomeCliente = {{ nome_usuaria|tojson }};
  </script>
  {% endif %}
  <script src="{{ url_for('static', filename='Js/ajuda.js') }}"></script>
{% endblock %}
