{% extends "base.html" %}

{% block titulo %}
Ajuda | Kordonê Bijoux
{% endblock %}

{% block header %}
  {% include 'components/_header_interno.html' %}
{% endblock %}

{% block conteudo %}
<div id="area-ajuda">

  <div class="introducao">
    {% if not current_user.chamados %}
      <p>Você ainda não tem solicitações</p>

      <button type="button" id="nova-chamada">
        Nova solicitação de ajuda
      </button>
    {% else %}
      {% for chamado in chamados %}
        <div class="card-chamado">
          <h2> {{chamado.titulo}}</h2>
          <p> Atendente: {{chamado.atendente}}</p>
          <p>
            <strong>Status:</strong>
            <span class="status {{ chamado.status }}">
    {{ chamado.status }}
  </span>
          </p>
          <a href="{{ url_for('principal.abrir_chamado', chamado_id=chamado.id_chamado) }}">
            Abrir conversa
          </a>
        </div>
      {% endfor %}
    {% endif %}
    {% if not mensagens %}
    <button type="button" id="nova-chamada">
      Nova solicitação de ajuda
    </button>
    {% endif %}
  </div>

  <div id="chat-container">
    
    <div id="chat-box">

  {% if mensagens %}

    {% for msg in mensagens %}

      {% include 'components/_card_mensagem.html' %}

    {% endfor %}

  {% endif %}

    </div>

    <form id="form-chat" class="{% if not mensagens %}escondido{% endif %}">

      <div id="input-area">
        <div class="wrapper-popup">
          <button type="button" id="btn-popup-mais"><i class="ri-add-line"></i></button>
          <div class="popup-mais escondido">
            <button type="button" id="btn-limpar">
              <i class="ri-delete-bin-7-line"></i>
              Limpar Conversa
            </button>
            <button type="button" id="btn-novo">
              <i class="ri-add-line"></i>
              Nova Conversa
            </button>
            
              
            <input type="file" id="input-midia" hidden accept="image/*,.pdf" multiple>
            <button type="button" id="btn-arquivo">
              <i class="ri-file-add-line"></i>
              Adicionar arquivo
            </button>
          </div>
        </div>
        
        <!-- Div dinâmica , preencher via javascript -->
        
        <div class="anexos-pendentes"></div>
        <div class="linha-composer">
          
          <input type="text" placeholder=" Digite aqui sua mensagem...." id="input-chat" name="msg">
  
          <button type="submit">
            <i class="ri-send-plane-line"></i>
          </button>
        </div>

      </div>

    </form>

  </div>
  
  
</div>
{% endblock %}

{% block scripts %}

  <script>
    const saudacaoInicial = {{ saudacao|tojson }};
  </script>
  
  <script>
    const atendente = {{ atendente|tojson }};
    const nomeCliente = {{ nome_usuaria|tojson }};
  </script>

  <script src="{{ url_for('static', filename='Js/ajuda.js') }}"></script>
{% endblock %}
