<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <meta
    name="description"
    content="Kordonê Bijoux"
  >

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main.css') }}"
  >
  
  <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
  rel="stylesheet"/>

  <title>
    {% block titulo %}
      Kordonê Bijoux
    {% endblock %}
  </title>

</head>

<body>

  {% block header %}
    {% include 'components/_header_interno.html' %}
  {% endblock %}

  {% block conteudo %}
  {% endblock %}

  <div id="toast"></div>
  
  <div id="overlay-carrinho"></div>
  
  {% include 'components/_carrinho.html'%}
  
  <!-- SCRIPTS GLOBAIS -->
  <script src="{{ url_for('static', filename='Js/menu.js') }}"></script>

  <script src="{{ url_for('static', filename='Js/carrinho.js') }}"></script>

  <script src="{{ url_for('static', filename='Js/favoritos.js') }}"></script>
  <script src="{{ url_for('static', filename='Js/pesquisa.js') }}"></script>
  
  {% if config.DEBUG %}

<script src="https://cdn.jsdelivr.net/npm/eruda"></script>

<script>
  eruda.init();
</script>

{% endif %}
  
  {% block scripts %}
  {% endblock %}

</body>

</html>