<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Minha Loja{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <header>
    {% include 'components/_header_interno.html' %}
    {% include 'components/_menu_dropdown.html' %}
  </header>

  <main class="container">
    {% block content %}
    <!-- conteúdo das páginas entra aqui -->
    {% endblock %}
  </main>

  <footer>
    <p>© Minha Loja</p>
  </footer>

</body>
</html>