{% extends "base.html" %}
{% block titulo %}
Checkout | Kordonê Bijoux
{%endblock%}
{% block conteudo%}
<div class="checkout-wrapper">
  <div class="checkout-card">
    <div id="resumo" class="checkout-front">
      <h2>Resumo da compra</h2>
      <ul>
        {% for item in produtos_checkout %}
          <li>
            {% include 'components/_card_checkout.html' %}
          </li>
        {% endfor %}
      </ul>
      <!-- SUBTOTAL -->
      <div id="valor" class="card-checkout">
        <strong>Subtotal:</strong>
        <p>
          R$ {{ subtotal }}
        </p>
        <p>Desconto: R$ {{ desconto }}</p>
        <p>Total (Peças): R$ {{ valor_com_desconto }}</p>
      </div>
      <!-- CUPONS -->
      <div id="cupom-box">
        <div class="cupom-topo">
          <h3>Cupons</h3>
          {% if cupom_aplicado %}
            <span>
              1/1 em uso
            </span>
          {% else %}
            <span>
              0/1 em uso
            </span>
          {% endif %}
        </div>
        <!-- CUPONS DISPONÍVEIS -->
        <div class="lista-cupons">
          {% for cupom in cupons %}
            <button
              type="button"
              class="cupom-item"
            >
              <strong>
                {{ cupom.nome_cupom }}
              </strong>
              <span>
                {%if cupom.tipo == "porcentagem" %}
                  {{cupom.valor_desconto | int}}%
                {%else%}
                  {{ cupom.valor_desconto }}
                {% endif %}
              </span>
            </button>
          {% endfor %}
        </div>
        <!-- FORM -->
        <form
          action="{{ url_for('usuario.aplicar_cupom') }}"
          method="POST"
          class="form-cupom"
        >
          <input
            type="text"
            name="codigo"
            placeholder="Adicionar cupom"
          >
          <button type="submit">
            Aplicar
          </button>
        </form>
        <button type="button" id="btn-continuar" class="btn-continuar">
          Continuar
        </button>
      </div>
    </div>
    <div id="checkout" class="checkout-back">
      <a href="#" id="btn-voltar">
        Voltar
      </a>
      <!-- ETAPA 1 -->
      <div class="etapa">
        <div class="etapa-topo">
          <div class="num">
            <h3>1</h3>
          </div>
          <h2>Onde quer receber seu pedido?</h2>
        </div>
        <label for="enderecos">
          Escolha um endereço
        </label>
        <select name="enderecos" id="enderecos">

  <option value="" selected disabled>
    Selecione um endereço
  </option>

  {% for endereco in enderecos %}

    <option value="{{ endereco.id }}" name="endereco">
      {{ endereco.rua }}, {{ endereco.numero }}
    </option>

  {% endfor %}

</select>
      </div>
      <!-- Sub etapa frete -->
      
      <div class="subetapa-topo inativo">
        <div class="subnum">
          <h4>1.1</h4>
        </div>
        <h3>Escolha o frete</h3>
        <select name="frete" id="frete">

  <option value="" selected disabled>
    Escolha um frete
  </option>

  <option value="pac">

    PAC —
    R$ {{ fretes["pac"]["valor"] }}
    —
    {{ fretes["pac"]["prazo"] }} dias

  </option>

  <option value="sedex">

    Sedex —
    R$ {{ fretes["sedex"]["valor"] }}
    —
    {{ fretes["sedex"]["prazo"] }} dias

  </option>

</select>
      </div>
      
      <!-- ETAPA 2 -->
      <div class="etapa inativo">
        <div class="etapa-topo">
          <div class="num">
            <h3>2</h3>
          </div>
          <h2>Quando quer receber seu pedido?</h2>
        </div>
        <select name="horario" id="horario">
          <option value="" selected disabled>
            Escolha a postagem
          </option>

          <option value="proxima_sexta">
            📦 Próxima postagem — Sexta-feira
          </option>
          <option value="sexta_seguinte">
            📦 Sexta seguinte
          </option>
          <option value="agendado">
            🗓️ Quero agendar
          </option>
        </select>
        <div id="agendamento-box" class="inativo" style="display: none;">
          <label for="data-agendada">
            Escolha uma sexta-feira
          </label>
          <input type="date" id="data-agendada" name="data_agendada">
        </div>
      </div>
      <!-- ETAPA 3 -->
      <div class="etapa inativo">
        <div class="etapa-topo">
          <div class="num">
            <h3>3</h3>
          </div>
          <h2>Selecione forma de pagamento</h2>
        </div>
        
        <div class="pagamentos">
          <button type="button" class="pagamento-item">
            <div>
              <strong>Cartão de crédito</strong>
              <span>Contém encargos do cartão</span>
            </div>
            <div class="radio"></div>
          </button>
          <button type="button" class="pagamento-item">
            <div>
              <strong>Cartão de débito</strong>
            </div>
            <div class="radio"></div>
          </button>
          <button type="button" class="pagamento-item">
            <div>
              <strong>Pix</strong>
              <span>Aprovação imediata</span>
            </div>
            <div class="radio"></div>
          </button>
        </div> 
      </div>
      <form action="{{ url_for('checkout.finalizar_compra') }}" method="POST">
        <button type="submit"> Finalizar Compra</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static' , filename= 'Js/checkout.js')}}"></script>
{% endblock %}

