<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{colecao.nome_colecao}} | Kordonê Bijoux </title>
  
  <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_header.css' )}}">
  <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_pesquisa.css' )}}">
  <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_dropdown.css'}}">
  <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_carrinho.css'}}">
  
  
  
  <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_cards.css' )}}">
  
  
</head>
<body>
  <div class="grid-produtos">
    {% for item in itens %}
      {% set produto = item %}
      {% include 'components/_card_produto.html' %}
  {% endfor %}
  </div>
</body>
</html>