<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <title>Coleções | Kordonê Bijoux</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Kordonê Bijoux - Site oficial">

  <meta name="author" content="Theodoro Meiel">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

  {% include "components/_header_interno.html" %}

  <main class="pagina-colecoes">

    <section class="colecoes-topo">

      <h1>Principais Coleções</h1>

      <p>
        Conheça as coleções exclusivas da Kordonê Bijoux
      </p>

    </section>

    <section class="colecoes-grid">

      {% for colecao in colecoes %}
        {% include 'components/_card_colecao.html' %}
      {% endfor %}

    </section>

  </main>

</body>
</html>