{% extends 'base.html' %}

{% block titulo %}
Meus Cupons | Kordonê Bijoux
{% endblock %}

{% block conteudo %}

<section class="cabecalho-pagina">
  <h1>🎁 Meus Cupons</h1>
  <p>
    Cupons resgatados e disponíveis para uso.
  </p>
</section>

<div class="lista-cupons">
  {% if not current_user.cupons %}
  <div class="aviso">
    <h3> Você não possui cupons </h3>
    <p> Encontrou um código? resgate abaixo.</p>
  </div>
  {% else %}
  
  <section class="area-cupons">
    {% for cupom in current_user.cupons %}
      <article class="card-cupom">
        {% if cupom.tipo == "porcentagem"%}
        <p class="valor"> {{cupom.valor_desconto | porcentagem }} OFF </p>
        {% elif cupom.tipo == "fixo" %}
        <p class="valor"> {{cupom.valor_desconto | moeda }} </p>
        {% endif %}
        <h3> {{cupom.nome_cupom}} </h3>
        
            <p class="validade">
              {% if cupom.cupom_expira %}
                Expira em {{ cupom.cupom_expira.strftime("%d/%m/%Y") }}
              {% else %}
                Sem expiração
              {% endif %}

            </p>
        
      </article>
    {% endfor %}
  </section>
  {% endif %}
</div>
  
{% endblock %}

{% block scripts %}
{% endblock %}