<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Kordonê Bijoux | E-comerce Oficial</title>
    <meta charset= "utf-8">
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
    <meta name = "description" content= "Kordonê Bijoux - Site oficial">
    <meta name = "author" content = "Theodoro Meiel">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_cards.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style_dropdown.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style_pesquisa.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body>
      <header>{% include 'components/_header.html%}</header>
      
      <h2> Editar Produto</h2>
      
      <div class="galeria">
        {% for img in produto.imagens %}
        <div class="img-box">
          <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_BIJOUX/' ~ img.url) }}">
          <form method="POST" action="{{ url_for('novo_produto.excluir', id=img.id) }}">
            <button type="submit">🗑️</button>
          </form>
        </div>
        {% endfor %}
      </div>
      
      <div>
        <form method="POST" enctype="multipart/form-data" action="{{url_for('novo_acessorio.adicionar_imagens' id = produto.id_acessorio)}}">
          <input type="file" name="novas_imagens" multiple>
          <button type="submit">
            <i class="ri-file-edit-line"></i>
            Adicionar nova imahem
          </button>
          
          
        </form>
      </div>
      <div>
        
      </div>
      
    </body>