<!DOCTYPE HTML>
<html lang="pt-br">
  <head>
    <title> Cadastro | Kordonê Bijoux</title>
    <meta charset= "utf-8">
    <meta name = "description" content="Kordonê Bijoux | Site Oficial"></meta>
    <meta name = "viewport" content="width = device-width , initial-scale = 1.0">
    <meta name = "author" content = "Theodoro Meiel"> </meta>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    
  </head>
  <body>.
  <header>
    <nav>
      <ul>
        <li>
          <a href="{{url_for('principal.pagina_principal')}}"> Voltar</a>
        </li>
        <li>
          <h3 id="indicação"> Entrar na sua conta</h3>
        </li>
      </ul>
    </nav>
  </header>
    <div id="login">
      <form action="{{url_for('auth.entrar')}}" method="POST" class="form-login">
        <input type="Text" placeholder="Insira seu nome ou e-mail" name= "id_cliente" required class="login">
        <div class="campo-senha">
          <input type="password" placeholder="Insira sua Senha" id="senha_cliente" class="login" name="senha_cliente">
          <button type="button" id="btn_senha">
            <i class="ri-eye-line" id="ver_senha"></i>
          </button>
        </div>
        <button type="submit"> Entrar</button>
        <p>
          Esqueceu sua senha?
        </p>
        <strong>
          <a href="{{url_for('senha.gerar_codigo_senha')}}"> Recuperar Senha</a>
        </strong>
        
    </form>
    <script src="{{ url_for('static', filename='Js/entrar.js') }}"></script>
  </body>      
