<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Kordonê Bijoux | E-comerce Oficial</title>
    <meta charset= "utf-8">
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
    <meta name = "description" content= "Kordonê Bijoux - Site oficial">
    <meta name = "author" content = "Theodoro Meiel">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_cards.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style_dropdown.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style_carrinho.css')}}">
    
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    </head>
    
    <body>
      <div id="overlay-carrinho"></div>
      {% include "components/_carrinho.html" %}
      <header id="Titulo">
        <h1> Kordonê Bijoux</h1>
        <img src="{{ url_for('static', filename='imagens/banners/' ~ banner.imagem) }}" id="banner" alt="banner Principal">
        </header>
        
        <div class="header-home">
          <div class="topo">
            <button id="btn-menu">≡</button>
            <nav id="nav-menu" class="escondido">
              <ul>
                <li>
                  <a href="{{url_for('colecoes.colecoes')}}"> Coleções</a>
                </li>
                <li>
                  <a href="{{url_for('produto.exibir')}}">
                    Brincos
                  </a>
                </li>
                <li></li>
              </ul>
            </nav>
            <div class="right">
              {% if current_user.is_authenticated %}
                {% include "components/_menu_dropdown.html" %}
              {% else %}
                <a href="{{url_for('auth.criar_conta')}}" class="login">Login</a>
              {% endif %}
            </div>
        </div>

  <div class="busca-container">
    <form class="barra-pesquisa" action="{{url_for('pesquisa.pesquisa')}}">
      <input type="search" placeholder="Pesquisar">
      <button>Pesquisar</button>
    </form>
  </div>

</div>
     
        
        <section id="novidades">
          <h3>Últimos Lançamentos</h3>
          <div class="carrossel-produtos">
            {% for produto in produtos %}
              {% include 'components/_card_produto.html' %}
            {% endfor %}
          </div>
        </section>
        
        <section id="Colecoes">
          <h3>Coleções</h3>
          <div class="grid-produtos">
            {% for colecao in colecoes %}
              {% include 'components/_card_colecao.html' %}
            {% endfor %}
          </div>
        </section>
        

        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
        <section id="Contato">
            <h3> Contato: </h3>
            <a href="https://www.instagram.com/karlafreitas955?igsh=MWw0dHcxcXVtY3Q4bA==">
              <i class="ri-instagram-line"></i>
               instagram</a>
            <h5><strong> Envio para todo o Brasil</strong></h5>
        </section>
        </footer>
        
        
        <script src="{{ url_for('static', filename='Js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/favoritos.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/carrinho.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/menu.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/pesquisa.js') }}"></script>
    </body>
</html>

