{% extends "base.html" %}

{% block titulo %}
  Kordonê Bijoux | Ecommerce Oficial
{% endblock %}

{% block header %}

<!-- HERO + NAV DA HOME -->
<header class="hero">

  <h1 class="hero__titulo">
    Kordonê Bijoux
  </h1>

  <!-- BANNERS -->
  <div class="banner-container">

    {% for banner in banners %}

      <div class="banner">

        <img
          src="{{ url_for(
            'static',
            filename='imagens/banners/' ~ banner.imagem
          ) }}"
        >

      </div>

    {% endfor %}

  </div>

  <!-- NAV -->
  <nav class="nav">

    <div class="nav__linha">

      <!-- ESQUERDA -->
      <button class="menu-btn">
        ≡
      </button>

      <div id="nav-menu" class="nav__menu escondido">
        <ul>
          <li>
            <a href="{{ url_for('produto.exibir_brincos') }}">
              Brincos
            </a>
          </li>
          <li>
            <a href="{{ url_for('produto.exibir_colares') }}">
                Colares
            </a>
          </li>
          <li>
            <a href="{{ url_for('produto.exibir_broches') }}">
                Broches
            </a>
          </li>

        </ul>
      </div>
      <!-- DIREITA -->
      <div class="nav__right">

        {% if current_user.is_authenticated %}

          {% include "components/_menu_dropdown.html" %}

        {% else %}

          <a
            href="{{ url_for('auth.criar_conta') }}"
            class="login"
          >
            Login
          </a>

        {% endif %}

        <!-- PESQUISA -->
        <form
          class="barra-pesquisa"
          action="{{ url_for('pesquisa.pesquisa') }}"
        >

          <input
            type="search"
            placeholder="Pesquisar"
            name="item"
          >

          <button>
            Pesquisar
          </button>

        </form>

      </div>

    </div>

    <div class="erro-busca escondido">
      Digite um termo para pesquisar 🔍
    </div>

  </nav>

</header>

{% endblock %}

{% block conteudo %}

<div id="overlay-carrinho"></div>

{% include "components/_carrinho.html" %}

<!-- LANÇAMENTOS -->
<section class="bloco-home">

  <h2>
    Últimos lançamentos
  </h2>

  <div class="carrossel-produtos">

    {% for produto in produtos %}

      {% include 'components/_card_produto.html' %}

    {% endfor %}

  </div>

</section>

<div class="borda"></div>

<!-- COLEÇÕES -->
<section class="bloco-home">

  <h2>

    <a href="{{ url_for('colecoes.listar_colecoes') }}">
      Coleções
    </a>

  </h2>

  <div class="carrossel-produtos">

    {% for colecao in colecoes %}

      {% include 'components/_card_colecao.html' %}

    {% endfor %}

  </div>

</section>

<!-- FOOTER -->
<footer class="footer">

  <section class="contato">

    <h3>
      Contato
    </h3>

    <a href="https://www.instagram.com/karlafreitas955?igsh=MWY5bjBjbHJ3MW9uOA==">
      <i class="ri-instagram-line"></i>
      Instagram
    </a>

    <a href="https://www.tiktok.com/@kordon.bijoux8?_r=1&_t=ZS-96fBP5FAz1M">
      <i class="ri-tiktok-line"></i>
      TikTok
    </a>

    <h5>
        Envio para todo o Brasil
    </h5>
  </section>

</footer>

<div id="toast"></div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='Js/home.js') }}"></script>
{% endblock %}

  