<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Kordonê Bijoux | E-comerce Oficial</title>
    <meta charset= "utf-8">
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
    <meta name = "description" content= "Kordonê Bijoux - Site oficial">
    <meta name = "author" content = "Theodoro Meiel">
    
    <link rel="stylesheet" href= "{{url_for('static' , filename= 'css/main.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    </head>
    <body class="home">
      <div id="overlay-carrinho"></div>
      {% include "components/_carrinho.html" %}
      <!-- HERO (banner + título) -->
      <header class="hero">
        <h1 class="hero__titulo">Kordonê Bijoux</h1>
        <div class="banner-container">
          {% for banner in banners %}
            <div class="banner">
              <img src="{{ url_for('static', filename='imagens/banners/' ~ banner.imagem) }}">
            </div>
          {% endfor %}
        </div>
      </header>
      <!-- NAV REAL -->
      <nav class="nav">
        <div class="nav__linha">
          <!-- ESQUERDA -->
          <button class="menu-btn">≡</button>
           <div id="nav-menu" class="nav__menu escondido">
             <ul>
               <li>
                 <a href="{{url_for('colecoes.colecoes')}}">Coleções</a>
               </li>
               <li>
                 <a href="{{url_for('produto.exibir')}}">Brincos</a>
               </li>
             </ul>
            </div>
          <!-- DIREITA (login + busca juntos) -->
          <div class="nav__right">
            {% if current_user.is_authenticated %}
              {% include "components/_menu_dropdown.html" %}
            {% else %}
              <a href="{{url_for('auth.criar_conta')}}" class="login">Login</a>
            {% endif %}
            <form class="barra-pesquisa" action="{{url_for('pesquisa.pesquisa')}}">
              <input type="search" placeholder="Pesquisar" name="item">
              <button>Pesquisar</button>
            </form>
            <div class="erro-busca escondido">
              Digite um termo para pesquisar 🔍
            </div>
          </div>
        </div>
      </nav>
      
      <!-- CONTEÚDO -->
      <main class="main">
        <section class="novidades">
          <h3>Últimos Lançamentos</h3>
          <div class="carrossel-produtos">
            {% for produto in produtos %}
              {% include 'components/_card_produto.html' %}
            {% endfor %}
          </div>
      </section>
      
      <section id="colecoes">
        <h2 class="titulo-secao">
          <a href="{{ url_for('colecoes.colecoes') }}">
            Coleções
          </a>
        </h2>
        <div class="carrossel-produtos">
          {% for colecao in colecoes %}
            {% include 'components/_card_colecao.html' %}
          {% endfor %}
        </div>
      </section>
      
      </main>
      <footer class="footer">
        <section class="contato">
          <h3>Contato:</h3>
          <a href="https://www.instagram.com/karlafreitas955?igsh=MWY5bjBjbHJ3MW9uOA=="><i class="ri-instagram-line"></i> instagram</a>
          <a href="https://www.tiktok.com/@kordon.bijoux8?_r=1&_t=ZS-966qdNWJmvo"> <i class="ri-tiktok-line"></i> TikTok</a>
          <h5><strong>Envio para todo o Brasil</strong></h5>
        </section>
      </footer>

        <script src="{{ url_for('static', filename='Js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/favoritos.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/carrinho.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/menu.js') }}"></script>
        <script src="{{ url_for('static', filename='Js/pesquisa.js') }}"></script>
    </body>
</html>

