{% extends "base.html" %}

{% block titulo %}
Pedido {{ pedido.id }} | Kordonê Bijoux
{% endblock %}

{% block header %}
  {% include 'components/_header_interno.html' %}
{% endblock %}

{% block conteudo %}

{% if current_user.is_admin %}
  <hr>
  <div id="detalhe-admin">
    <h2> Gerenciar Pedido </h2>
    <span> Pedido #{{ pedido.id }}</span>
    <div class="id">
      <span> {{pedido.cliente.nome}}</span>
      {% if pedido.cliente.foto_perfil %}
       <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_PERFIL/' ~ pedido.cliente.foto_perfil) }}" class="imagem-perfil">
      {% else %}
        <i class="ri-user-line"></i>
      {% endif %}
    </div>
    <form  method="POST" action="{{ url_for('admin.editar_pedido', id=pedido.id) }}">
      <input type="hidden" name="acao" value="producao">
      <ul class="lista-itens-pedido">
        {% for item in pedido.itens %}
          <li class="item-producao">
            <input type="checkbox" name="itens_prontos" value="{{ item.id }}" {% if item.status_producao == "Pronto" %}
            checked {% endif %}>
            <img
              src="{{ url_for(
                'static',
                filename='imagens/UPLOADS_FOTOS_BIJOUX/' ~ item.produto.imagens[0].url
              ) }}"
              class="img-peca-admin"
            >
            <span>
              {{ item.produto.nome }}
            </span>
          </li>
    {% endfor %}
  </ul>

  <button type="submit">
    Salvar
  </button>
</form>

{% if pedido.todos_prontos %}
  <p>✅ Produção concluída</p>
  <form action="{{url_for('admin.editar_pedido' , id=pedido.id)}}" method="POST">
    <input type="hidden" name="acao" value="rastreio">
    <input type="text" placeholder="Coódigo de Rastreio" name="codigo-rastreio">
    <button type="submit"> Adicionar Código</button>
  </form>
{% else %}
  <p>⏳ Produção em andamento</p>
{% endif %}

</div>
{% else %}

<div class="pedido-detalhe">

  <!-- CABEÇALHO -->
  
  <div class="pedido-topo">

    <div class="pedido-info">
  
      <h1>
        Pedido #{{ pedido.id }}
      </h1>
  
      <div class="status-pedido">
        {{ pedido.status }}
      </div>
  
      <p>
        <strong>Data:</strong>
        {{ pedido.data_pedido | data }}
      </p>
  
    </div>
  </div>

  <!-- ITENS -->

  <div class="pedido-itens">
    {% for item in pedido.itens %}
      {% include "components/_card_detalhe.html" %}
    {% endfor %}
  </div>

  <!-- RESUMO -->

  <div class="pedido-resumo">

    <h2>
      Resumo do pedido
    </h2>

    <p>
      <strong>Entrega:</strong>
      {{ pedido.envio_formatado}}
    </p>

    {% if pedido.data_entrega %}
      <p>
        <strong>Previsão:</strong>
        {{ pedido.data_entrega.strftime("%d/%m/%Y") }}
      </p>
    {% endif %}

    {% if pedido.forma_pagamento %}
      <p>
        <strong>Pagamento:</strong>
        {{ pedido.forma_pagamento }}
      </p>
    {% endif %}

    <p>
      <strong>Total:</strong>
      {{ pedido.total | moeda }}
    </p>

  </div>

  <!-- RASTREIO -->

  {% if pedido.codigo_rastreio %}

    <hr>

    <div class="pedido-rastreio">
      <h2>
        Rastreamento
      </h2>
      <div class="codigo">
        <h3>
          Código:
        </h3>
        <button type="button" id="copiar" data-codigo="{{pedido.codigo_rastreio}}"><i class="ri-file-copy-fill"></i></button>
      </div>
      <p>
        {{ pedido.codigo_rastreio }}
      </p>
      <a href="https://rastreamento.correios.com.br/app/index.php" target="_blank">
        Rastrear encomenda
      </a>
    </div>

  {% endif %}

</div>
{% endif %}


{% endblock %}

{% block scripts %}
<script src="{{ url_for(
  'static',
  filename='Js/pedido_detalhe.js'
) }}"></script>
{% endblock %}