<!DOCTYPE html>
<html lang="pt-br">

<head> 
<title> Meu Perfil | Kordonê Bijoux </title>
    <meta charset="utf-8"> 
    <meta name="description" content="Kordonê Bijoux | Site Oficial"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=""> 
    <meta name="author" content="Theodoro Meiel"> 
    <!-- BASE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dropdown.css') }}">
    <!-- COMPONENTES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pesquisa.css') }}">
    <!-- ESPECÍFICOS DA PÁGINA -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_perfil.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <header>
    
    {% include 'components/_header_interno.html'%}
  </header>
  
  <div id="user">
    {% if current_user.foto_perfil%}
      <img src="{{ url_for('static', filename='imagens/UPLOADS_FOTOS_PERFIL/' ~ current_user.foto_perfil) }}" class="foto-perfil">
    {% else %}
      <i class="ri-user-line icone-perfil"></i>
    {% endif %}
    <strong> {{current_user.nome}}</strong>
  </div>
  
  <nav id="opcoes-perfil">
    <ul>
      <li>
        <button class="opcao-lista" data-aba="enderecos">
        Meus Endereços
      </button>
    </li>
    <li>
      <button class="opcao-lista" data-aba="favoritos">
        Favoritos
      </button>
    </li>
    <li>
      <button class="opcao-lista" data-aba="pedidos">
        Meus pedidos
      </button>
    </li>
  </ul>
</nav>
  
  <div id="enderecos" class="opcao-nav escondido">

  <!-- 🔹 EXIBIÇÃO -->
  <div class="exibicao">
    {% if current_user.enderecos %}
      {% for endereco in current_user.enderecos %}
        <div class="card-endereco">
          <strong>
            {{ endereco.rua }} |
            {{ endereco.numero }} |
            {{ endereco.bairro }} | {{ endereco.cidade }} |
            {{ endereco.estado}} |
            {{ endereco.cep }}
        </div>
      {% endfor %}
    {% else %}
    <p>
      Ainda não há endereços.
    </p>
    {% endif %}
  </div>
  <!-- 🔹 FORMULÁRIO -->
  <div class="conteudo">
    <form method="POST" class="form-endereco" action="{{url_for('usuario.adicionar_endereco')}}">
      <h3>Cadastrar novo endereço</h3>
      <!-- 📍 RUA + NÚMERO -->
      <div class="grupo">
        <input type="text" name="rua" placeholder="Rua" required>
        <input type="text" name="numero" placeholder="N°" required>
      </div>
        <!-- 📍 BAIRRO -->
        <div class="grupo">
          <input type="text" name="bairro" placeholder="Bairro" required>
        </div>
        <!-- 📍 CIDADE -->
        <div class="grupo">
          <input type="text" name="cidade" placeholder="Cidade" required>
          </div>
          <!-- 📍 CEP -->
          <div class="grupo">
            <input type="text" name="cep" placeholder="CEP" required>
          </div>
          <!-- 🏠 TIPO -->
          <div class="grupo-radio">
            <label>
              <input type="radio" name="tipo" value="casa" required>
              Casa
            </label>
            <label>
              <input type="radio" name="tipo" value="trabalho">
              Trabalho
            </label>
          </div>
          <!-- 🔘 BOTÃO -->
          <button type="submit">Salvar endereço</button>
    </form>
  </div>
  </div>
  
  <div id="favoritos" class="opcao-nav escondido">
    {% if favoritos %}
      {% for f in favoritos[:5]%}
        {% include 'components/_card_favorito.html'%}
      {% endfor %}
       {% if favoritos|length > 5 %}
        <button>Ver mais</button>
      {% endif %}
    {% else %}
      <p> Ainda não há favoritos</p>
    {% endif %}
  </div>
  
  <div id="pedidos" class="opcao-nav escondido">
    {% if pedidos %}
      {% for p in pedidos[:5]%}
        {% include 'components/_card_pedido.html' %}
      {%endfor%}
      {% if pedidos|length > 5 %}
        <button>Ver mais</button>
      {% endif %}
      
    {% else %}
      <p> Ainda não há pedidos </p>
    {% endif %}
  </div>
  <script src="{{url_for('static' , filename= 'Js/perfil.js')}}"></script>
</body>
</html>