<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title> {{ termo }} | Persquisa | Kordonê Bijoux</title>
    <meta charset= "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content= "Kordonê Bijoux - Site oficial">
    <meta name = "author" content = "Theodoro Meiel">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" href="{{url_for('static' , filename= 'css/style_cards.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style_pesquisa.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style_dropdown.css')}}">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  
  <body>
    <header>
      {% include 'components/_header_interno.html' %}
    </header>
    
    <div id="info">
      <h3>
        {% if termo %}
        Resultados para "{{ termo }}"
        {% else %}
        Resultados da busca
        {% endif %}
  </h3>
  {% if preco_min or preco_max or categoria %}
  <p>
    Filtros:
    {% if preco_min %}
    de {{ preco_min }}
    {% endif %}
    
    {% if preco_max %}
    até {{ preco_max }}
    {% endif %}
    
    {% if categoria %}
    | categoria: {{ categoria|capitalize }}
    {% endif %}

  </p>
  {% endif %}
  </div>
  
  <div class= "resultados-busca">
  {% for produto in produtos %}
    {% include 'components/_card_produto.html' %}
  {% endfor %}
  </div>
  
    <script src="{{ url_for('static', filename='Js/menu.js') }}"></script>
    
    <script src="{{ url_for('static', filename='Js/pesquisa.js') }}"></script>
    
  </body>