.banner-container {
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  position: relative;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease;
}

.banner.ativo {
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 5s ease;
}

.banner.ativo img {
  transform: scale(1.05);
}