.carrossel-produtos {
  width: 100%;

  display: flex;
  gap: 16px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 10px 16px;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  box-sizing: border-box;
}

.carrossel-produtos .card-produto {
  flex: 0 0 auto;
}

.carrossel-produtos img {
  width: 100%;
  display: block;
}