.header {
  display: flex;
  align-items: center;

  gap: 12px;
  padding: 10px;

  width: 100%;

}

/* ESQUERDA E DIREITA */
.header-left,
.header-right {
  display: flex;
  align-items: center;

  flex-shrink: 0;
}

.header-left a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  
}


/* CENTRO */

.header-center {
  flex: 1;

  min-width: 0;

  display: flex;
  justify-content: center;
}

.header-center .barra-pesquisa {
  width: 100%;
  max-width: 420px;
}

/* BARRA */
.header-center .barra-pesquisa {
  width: 100%;
}

/* LINKS */
.header a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

/* PERFIL */
.foto-perfil,
.imagem-perfil {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  object-fit: cover;
}
