.barra-pesquisa {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* grupo input + botões */
.barra-pesquisa__grupo {
  display: flex;
  align-items: center;
  position: relative;

  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;

  padding: 8px 12px;
  gap: 10px;
}

/* input cresce */
.barra-pesquisa__grupo input {
  flex: 1;

  border: none;
  outline: none;

  background: transparent;

  padding: 4px;
}

/* botões */
.btn-lupa,
.btn-filtro {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.barra-pesquisa--header {
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.erro-busca {
  width: 200px;
  background: #ff4d4d;
  border: 3px dotted #000;
  color: white;
  padding: 16px;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 14px;
}

/* ====================================
   AUTOCOMPLETE
==================================== */

#autocomplete-lista {
  position: absolute;

  top: calc(100% + 8px);
  left: 0;

  width: 100%;

  background: white;

  border-radius: 16px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.12);

  z-index: 999;

  max-height: 320px;

  overflow-y: auto;

  display: none;
}

/* scrollbar */
#autocomplete-lista::-webkit-scrollbar {
  width: 6px;
}

#autocomplete-lista::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 999px;
}

/* item */
.item-autocomplete {
  display: flex;
  align-items: center;

  gap: 12px;

  padding: 12px 14px;

  cursor: pointer;

  transition: background 0.2s ease;
}

.item-autocomplete:hover {
  background: #f5f5f5;
}

/* imagem */
.item-autocomplete img {
  width: 56px;
  height: 56px;

  object-fit: cover;

  border-radius: 10px;

  flex-shrink: 0;
}

/* texto */
.item-autocomplete a {
  color: black;
  text-decoration: none;

  font-size: 15px;
  font-weight: 500;

  flex: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}