/* WRAPPER */

.tabela-admin-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* TABELA */

table {
  width: 100%;
  min-width: 900px;

  border-collapse: collapse;
  background: white;
}

/* CÉLULAS */

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  
}

/* CABEÇALHO */

th {
  background: #f5f5f5;
  font-weight: 600;
}

/* LINHAS */

tr:hover {
  background: #fafafa;
}

/* BOTÃO */

.novo-produto {
  display: inline-block;

  margin-bottom: 16px;
  padding: 10px 16px;

  background: black;
  color: white;

  text-decoration: none;
  border-radius: 6px;
}

.novo-produto:hover {
  background: #333;
}