#toast {
  position: fixed;

  bottom: 30px;
  left: 50%;

  transform: translateX(-50%) translateY(20px);

  background: #1f1f1f;
  color: white;

  padding: 14px 18px;

  border-radius: 14px;

  font-size: 14px;
  font-weight: 500;

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  z-index: 9999;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.18);
}

/* ativo */
#toast.ativo {
  opacity: 1;

  transform:
    translateX(-50%)
    translateY(0);
}